<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Parallel Testing" parallel="methods" thread-count="2">
        <classes>
            <class name="org.sample.ParallelDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
<!--            <class name="org.sample.Sample">-->
<!--                <methods>-->
<!--                    <include name="testGoogleSearch"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>